@font-face {
	font-family: 'Open-sans';
	src: url('assets/fonts/open-sans-condensed-light-italic.woff2') format('woff2'),
        url('./assets/fonts/open-sans-condensed-light-italic.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Playfair-Display';
	src: url('assets/fonts/playfairDisplay.woff2') format('woff2'),
        url('./assets/fonts/playfairDisplay.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

:root {
  --color-main: rgb(180, 109, 200);
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(0, 0, 0);
  --color-main-dark: rgb(92, 9, 122);
  --color-letters-main: rgb(165, 165, 165);
  --color-letters1: rgb(123, 122, 122);
  --color-letters2: rgb(0, 0, 0);
  --color-graduate: rgb(174, 69, 69);
  --color-certificat: rgb(112, 194, 104);

  --size-core: 4vw;
  --size-petal: calc(var(--size-core) * 2);
}

html {
	scroll-behavior: smooth; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair-Display';
  color: var(--color-letters-main);
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Open-sans';
  color: var(--color-main);
  font-size: calc(10px + 0.9vw);
}

a {
  transition: all 0.3s ease;
}

.education li,
.about-me li {
  padding-left: calc(13px + 0.7vw);
  background-image: url(assets/images/marker.svg);
  background-position: 0 center;
  background-size: calc(5px + 0.7vw) calc(5px + 0.7vw);
  background-repeat: no-repeat;
}

.about-me li {
  background-image: url(assets/images/point.svg);
}

.title {
  margin-bottom: 10px;
  color: var(--color-main-dark);
  text-align: center;
  font-size: calc(10px + 1.1vw);
  font-weight: 900;
}

.header,
.footer {
  width: 100%;
  background: var(--color-main);
  font-weight: 300;
  color: var(--color-letters2);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.header__container {
  display: flex;
  gap: 70px;
  justify-content: center;
  padding-top: calc(5vw - 20px);
  padding-bottom: 70px;

}


.header__about {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.header__title {
  font-size: calc(10px + 1.5vw);
  line-height: 1.1;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: calc(10px + 1.3vw);
  font-weight: 400;
}

.header__description {
  font-family: 'Open-sans';
  font-size: calc(10px + 0.7vw);
}

.header__title,
.header__subtitle,
.header__description {
  color: var(--color-light);
}

.header__icon-wrapper {
  justify-self: center;
  overflow: hidden;
  border: 7px solid #fff;
  background-image: linear-gradient(to right,  #eaf285 0%, #67f567 100%);
  animation: img-border 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}


.header__icon-img {
  animation: img-background 3s infinite alternate;
}

main {
  margin-top: 5vw;
}

.education__container,
.skills__container,
.experience__container,
.my-projects__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.graduate{
  color: var(--color-graduate);
}

.certificate {
  color: var(--color-certificat);
}

.main-color {
  color: var(--color-main);
}

.separator {
  width: 50%;
  height: 3px;
  background-color: var(--color-main);
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.about-me__container {
  margin-top: -50px;
  width: 77vw;
  background: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.info,
.item {
  font-family: 'Open-sans';
  font-size: calc(10px + .7vw);
}


.daisy {
  background-color: var(--color-main);
  position: relative;
  width: calc(var(--size-core) + var(--size-petal) * 2);
  height: calc(var(--size-core) + var(--size-petal) * 2);
  margin: 0 auto;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.core {
  z-index: 7;
  position: absolute;
  width: calc(var(--size-core) + .5vw);
  height: calc(var(--size-core) + .5vw);
  top: calc(50% - calc(var(--size-core) / 2) - .25vw);
  left: calc(50% - calc(var(--size-core) / 2) - .25vw);
  border-radius: 50%;
  box-shadow: 0 0 10px var(--color-main);
}

.core p {
  margin-top: calc(var(--size-core) / 2 - .7vw);
  text-align: center;
}

.core p,
.petal {
  font-size: calc(10px + .7vw);
  font-family: 'Open-sans';
}

.petals {
  list-style-type: none;
}

.petal {
  position: absolute;
  width: calc(2 * 3.1415 * var(--size-core) / 10);
  height: var(--size-petal);
  min-height: 60px;
  background-color: white;
  border-radius: 50% 50% 25% 25%;
  transform-origin: calc(2 * 3.1415 * var(--size-core) / 10 / 2) calc(var(--size-petal) + var(--size-core) / 2);
  left: calc(var(--size-petal) + var(--size-core) / 2 - (2 * 3.1415 * var(--size-core) / 10 / 2));
  top: 0; 
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);
}

.petals__right,
.petals__left {
  display: block;
}

.petals__right {
  transform: rotate(-90deg) translateX(calc(-1 * var(--size-petal) / 2));
}

.petals__left {
  transform: rotate(90deg) translateX(calc(var(--size-petal) / 5 + .7vw));
}

.petal:nth-of-type(1) {
  transform: rotate(36deg);
}
.petal:nth-of-type(2) {
  transform: rotate(72deg);
}
.petal:nth-of-type(3) {
  transform: rotate(108deg);
}
.petal:nth-of-type(4) {
  transform: rotate(144deg);
}
.petal:nth-of-type(5) {
  transform: rotate(180deg);
}
.petal:nth-of-type(6) {
  transform: rotate(216deg);
}
.petal:nth-of-type(7) {
  transform: rotate(252deg);
}
.petal:nth-of-type(8) {
  transform: rotate(288deg);
}
.petal:nth-of-type(9) {
  transform: rotate(324deg);
}
.petal:nth-of-type(10) {
  transform: rotate(360deg);
}

.det .title:hover {
  cursor: pointer;
}

.my-projects {
  margin-top: 30px;
  background: var(--color-light);
}

.my-projects__container {
  margin-bottom: 10px;
}

.my-projects__items {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vw;
}

.my-projects__link {
  text-align: center;
}

.my-projects__link:hover {
  transform: scale(1.05);
}

.img-project {
  width: 25vw;
  max-width: 500px;
  min-width: 120px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.footer {
  margin-top: 2vw;
}

.footer__wrapper {
  height: 20vw;
  max-height: 150px;
  display: flex;
  justify-content: space-around;
}

.footer img {
  width: 10vw;
  max-width: 60px;
  height: 10vw;
  max-height: 60px;
}

.footer__link {
  text-decoration: none;
  align-self: center;
  transition: all 0.3s ease;
}

.footer__link:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

@media screen and (max-width: 978px) {
  .header__hero {
    padding-top: 30px;
  }

  .header__container {
    
    min-height: 276px;
    flex-direction: column;
    gap: 20px;
  }

  .header__title {
    margin-bottom: 10px;
  }

  .header__subtitle {
    font-weight: 400;
  }

  .header__about {
    text-align: center;
  }

  .header__icon-wrapper {
    margin: 0 auto;
    width: 37vh;
  }
}

@media screen and (max-width: 688px) {
  :root {  
    --size-core: 8.5vw;
  }

  .header__container {
    height: 72vw;
    padding-bottom: 23px;
  }

  .header__icon-wrapper {
    width: 25vw;
    min-width: 120px;
  }

  .core p {
    margin-top: calc(var(--size-core) / 2 - 1.5vw);
  }

  .footer img {
    width: 7vw;
    height: 7vw;
  }
}


@keyframes img-border {
  0% {
    border-radius: 78% 22% 52% 48% / 52% 30% 70% 48%  ;
  }

  40% {
    border-radius: 53% 47% 64% 36% / 34% 67% 33% 66%  ;
  }

  60% {
    border-radius: 37% 63% 75% 25% / 55% 74% 26% 45%  ;
  }

  100% {
    border-radius: 34% 66% 30% 70% / 59% 82% 18% 41%  ;
  }
}

@keyframes img-background {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(90deg);
  }
}